<div class="container">
    <div id="logo-wrapper">
      <img src="/images/glance.png" alt="Glance.today" id="logo" />
    </div>
    <div class="login">
        <div class="login-screen">
          <div class="login-form">
            <a class="btn btn-primary btn-lg btn-block" href="/login">Login with Twitter</a>
          </div>
        </div>
      </div>
</div>