<div class="container">
    <h1>Glance.today</h1>
    <p>The best way to glance at all your project updates.</p>
    <hr>
    <div class="login">
        <div class="login-screen">
          <div class="login-form">
            <a class="btn btn-primary btn-lg btn-block" href="/login">Login with Twitter</a>
          </div>
        </div>
      </div>
</div>