extends ../layout

block content
  .page-header
    h3 Projects

  h4 Add Project
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-plus
          | Add project

  hr

  ul
  each project in projects
    li.project
      div #{project.name}


