footer
  .container.text-center
    p.pull-left © 2016 Glance.today | All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/DonaldWhyte/how-to-build-and-ship-an-mvp-in-24-hours') GitHub
