extends ../layout

block content
  .page-header
    h3 Projects

  h4 Add Project
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-plus
          | Add project

  hr
  
  if projects.length
    ul
    each project in projects
      li.project
        a(href='/projects/#{project.id}') #{project.name}
  else
    div 
      h5.text-center.text-danger No projects found


